<html lang="en">
<head>

    <meta charset="utf-8">
    <!-- load stylesheets-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='basestylesheet.css') }}" >
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='world_map.css') }}" >
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    
    <title>VisBio Project</title>
</head>

<body>
    <!-- load js file-->
  <script src="{{ url_for('static', filename='base.js')}}"></script>
    <!--create header-->
  <header id="header">
    <div class="container">
      <div id= "title">
        <h1> Recipe Analysis</h1>
      </div>
    </div>
  </header>
 <!--create main part of website-->
  <main>
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="#background">Background</a></li>
          <li><a href="#statisticPart">Statistic Part</a></li>
          <li><a href="#title">Top</a></li>
        </ul>
      </nav>
    </div>
    <div class="section">
        <!--Miguel's World MAP visualization-->
      <div class = "section-grid" id= "line">
        <div id="block1">
          <div id="worldMap">
            <script src="{{ url_for('static', filename='world_map.js')}}"></script>
          </div>
        </div>
        <div id="block2"  style= "width: 100%; height:auto;">
          <h3>Worldmap cuisine overview</h3>
        </div> 
        <div  id="block3"  style= "width: 100%; height:auto;">
          <p class= "large">
            Hover the country you are interested in to get the information for a spetific cuisine type.
          </p>
          <p> Miguel Discription</p><!-- Add here the discription-->
        </div> 
      </div>
      <!--Mehrin's Treemap visualization-->
      <div class = "section-grid">
        <div id="block1"  style= "width: 100%; height:auto;">  
          <div id= treemap> <!-- MEHRIN HERE IS THE BLOCK FOR YOUR VIS-->
          </div>
          
        </div>
        <div id="block2"  style= "width: 100%; height:auto;">
          <h3>Overview over cusines and their ingredient categories</h3>
        </div> 
        <div  id="block3"  style= "width: 100%; height:auto;">
          <p class= "large">
            Discripe 
          </p>
          <p>further discription</p>
        </div> 
      </div>
    </div>

    <div class="section-heading" id= "statisticPart">
      <h1>Statistic Part</h1>
    </div>

    <div class= "section2">
      <div class = "section-grid-statistic">

         <!--Clarissa's Bar-Chart visualization--> 
        <div class="vis" id="vis1">
           <!-- Selectoption for bar chart-->
          <select value = "world" id="data_bar" name="countrylist"  onChange="drawBar();"  >
            <option value="american">American</option>
            <option value="angolan">Angolan</option>
            <option value="argentine">Argentine</option>
            <option value="australian">Australian</option>
            <option value="austrian">Austrian</option>
            <option value="belgian">Belgian</option>
            <option value="brazilian">Brazilian</option>
            <option value="canadian">Canadian</option>
            <option value="chilean">Chilean</option>
            <option value="chinese">Chinese</option>
            <option value="congolese">Congolese</option>
            <option value="costa-rican">Costa-Rican</option>
            <option value="cuban">Cuban</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="dutch">Dutch</option>
            <option value="ecuadorean">Ecuadorean</option>
            <option value="egyptian">Egyptian</option>
            <option value="english">English</option>
            <option value="ethiopian">Ethiopian</option>
            <option value="filipino">Filipino</option>
            <option value="finnish">Finnish</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="guatemalan">Guatemalan</option>
            <option value="hungarian">Hungarian</option>
            <option value="icelandic">Icelandic</option>
            <option value="indian">Indian</option>
            <option value="indonesian">Indonesian</option>
            <option value="iranian-persian">Iranian-Persian</option>
            <option value="iraqi">Iraqi</option>
            <option value="irish">Irish</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="laotian">Laotian</option>
            <option value="lebanese">Lebanese</option>
            <option value="libyan">Libyan</option>
            <option value="malaysian">Malaysian</option>
            <option value="mexican">Mexican</option>
            <option value="mongolian">Mongolian</option>
            <option value="moroccan">Moroccan</option>
            <option value="namibian">Namibian</option>
            <option value="nepalese">Nepalese</option>
            <option value="new-zealand">New-Zealand</option>
            <option value="nigerian">Nigerian</option>
            <option value="norwegian">Norwegian</option>
            <option value="pakistani">Pakistani</option>
            <option value="peruvian">Peruvian</option>
            <option value="polish">Polish</option>
            <option value="portuguese">Portuguese</option>
            <option value="puerto-rican">Puerto-Rican</option>
            <option value="russian">Russian</option>
            <option value="somalian">Somalian</option>
            <option value="south-african">South-African</option>
            <option value="spanish">Spanish</option>
            <option value="sudanese">Sudanese</option>
            <option value="swedish">Swedish</option>
            <option value="swiss">Swiss</option>
            <option value="thai">Thai</option>
            <option value="turkish">Turkish</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="world" selected >World data</option>
          </select> 
          <div id="top6">
            <script src="{{ url_for('static', filename='bar_chart.js')}}"></script>
          </div>       
          <p class="large">Top 6 used ingredients for selected country</p>
          <p>Discription</p>
        </div>

       <!--Clarissa's Pie chart visualitzation-->
        <div class="vis" id="vis2">
        <!-- Selectoption for pie chart-->
           <select value = "world" id="data_pie" name="countrylist"  onChange="update();" >
            <option value="american"  >American</option>
            <option value="angolan">Angolan</option>
            <option value="argentine">Argentine</option>
            <option value="australian">Australian</option>
            <option value="austrian">Austrian</option>
            <option value="belgian">Belgian</option>
            <option value="brazilian">Brazilian</option>
            <option value="canadian">Canadian</option>
            <option value="chilean">Chilean</option>
            <option value="chinese">Chinese</option>
            <option value="congolese">Congolese</option>
            <option value="costa-rican">Costa-Rican</option>
            <option value="cuban">Cuban</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="dutch">Dutch</option>
            <option value="ecuadorean">Ecuadorean</option>
            <option value="egyptian">Egyptian</option>
            <option value="english">English</option>
            <option value="ethiopian">Ethiopian</option>
            <option value="filipino">Filipino</option>
            <option value="finnish">Finnish</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="guatemalan">Guatemalan</option>
            <option value="hungarian">Hungarian</option>
            <option value="icelandic">Icelandic</option>
            <option value="indian">Indian</option>
            <option value="indonesian">Indonesian</option>
            <option value="iranian-persian">Iranian-Persian</option>
            <option value="iraqi">Iraqi</option>
            <option value="irish">Irish</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="laotian">Laotian</option>
            <option value="lebanese">Lebanese</option>
            <option value="libyan">Libyan</option>
            <option value="malaysian">Malaysian</option>
            <option value="mexican">Mexican</option>
            <option value="mongolian">Mongolian</option>
            <option value="moroccan">Moroccan</option>
            <option value="namibian">Namibian</option>
            <option value="nepalese">Nepalese</option>
            <option value="new-zealand">New-Zealand</option>
            <option value="nigerian">Nigerian</option>
            <option value="norwegian">Norwegian</option>
            <option value="pakistani">Pakistani</option>
            <option value="peruvian">Peruvian</option>
            <option value="polish">Polish</option>
            <option value="portuguese">Portuguese</option>
            <option value="puerto-rican">Puerto-Rican</option>
            <option value="russian">Russian</option>
            <option value="somalian">Somalian</option>
            <option value="south-african">South-African</option>
            <option value="spanish">Spanish</option>
            <option value="sudanese">Sudanese</option>
            <option value="swedish">Swedish</option>
            <option value="swiss">Swiss</option>
            <option value="thai">Thai</option>
            <option value="turkish">Turkish</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="world" selected >World data</option>
          </select> 
          <div id= "myPieChart">
            <script src="{{ url_for('static', filename='pie_chart.js')}}"></script>  
          </div> 
          
          <p class= "large">Types of Recipes: Percentage of vegan, vegetarian and non type Recipes for the selected Country</p>   
          <p>Discription</p>
        </div> 

        <!--Marina's Bubblechart visualization-->
        <div class="vis" id="vis3">
          <div  id= "bubbleChart">
            <script src="{{ url_for('static', filename='bubblechart.js')}}"></script>  
            <!--<div id="tooltip2" class="hidden"></div>--> 
          </div>  
            
        <p class= large> Average Recipe by Region: Time to cook vs. Number of ingredients</p>   
        <p>Hover over each bubble to see the cuisine. Click on a regional bubble to expand into smaller bubbles. The number of countries per regional bubble is encoded in its size.</p>
        </div> 

      <!--Miguel's visualization-->
        <div  class="vis" id="vis4">
          <div id="chord">
          <script src="{{ url_for('static', filename='chord.js')}}"></script> 
          </div>  
        <p class= large>Miguel's ingredient intercation</p>  
        <p>Add here the discription</p>
        </div> 
      </div> 
    </div>

    <div class="section-heading" id= "background">
      <h1 >Background</h1>
    </div>

    <div class= "section3">
      <div class = "section-grid-background" id= "line">
        <div id="backgroun1">  
          <p class= "large">
            Recipe Analysis and Search is based on the project work in the lecture Big Data Visual Analytics in Life Sciences by Prof. Dr. Michael Krone
            at the Faculty of Science of Eberhard Karls University of Tübingen.
          </p>
          <p class = "large" style= "margin-top: 2rem;">
            Together, we explore the data of the recipes from <a href = "https://www.food.com/"> Food.com</a>
            . This project sheds light on the many facets of diffrent cuisines and ingredients of the recipes. 
          </p>
        </div>
        <div id="background2">
          <h4>Data</h4>
          <!--Add some text here for Data modifying Marina, Miguel-->
          <p>In the course of this project, we analyzed hundreds of ingredients, recipeas and other recipe related terms. A good starting point was ... data source. 
            More Info about the dataset....
          </p>
        </div> 
        <div  id="background3">
          <h4>Team</h4>
          <p class= "teammember">Dittschar, Marina</p>
          <p class= "teammember" >Ordonez, Miguel</p>
          <p class= "teammember">Azan, Mehrin</p>
          <p class= "teammember">Auckenthaler, Clarissa</p>
        </div> 
      </div>
  
    </div>
  </main>
  <footer>
    <p>
      <a href="http://www.freepik.com"> Background image designed by pikisuperstar / Freepik</a>
    </p>
  </footer>
 
  
</body>
</html>
