<html lang="en">
<head>

    <meta charset="utf-8">
    <!-- load stylesheets-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='basestylesheet.css') }}" >
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    
    <title>VisBio Project</title>
</head>

<body>
    <!-- load js file-->
  <script src="{{ url_for('static', filename='base.js')}}"></script>
    <!--create header-->
  <header id="header">
    <div class="container">
      <div id= "title">
        <h1> Recipe Analysis</h1>
      </div>
    </div>
  </header>
 <!--create main part of website-->
  <main>
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="#background">Background</a></li>
          <li><a href="#statisticPart">Statistic Part</a></li>
          <li><a href="#title">Top</a></li>
        </ul>
      </nav>
    </div>
    <div class="section">
        <!--Miguel's World MAP visualization-->
      <div class = "section-grid" id= "line">
        <div id="block1">
          <div id="worldBlock">
           <div id="worldMap">
              <script src="{{ url_for('static', filename='world_map.js')}}"></script>
            </div>
          </div>
        </div>
        <div id="block2"  style= "width: 100%; height:auto;">
          <h3>Worldmap cuisine overview</h3>
        </div> 
        <div  id="block3"  style= "width: 100%; height:auto;">
          <p class= "large">
            World map which displays the number of recipes for each country. 
          </p>
          <p>Hover over the country you are interested in to get further information about it (like the list of cuisines).
            <br>
            <br>
            You can zoom with the mouse wheel and move the map when you left click and drag the mouse. 
          </p><!-- Add here the discription-->
        </div> 
      </div>
      <!--Mehrin's Treemap visualization-->
      <div class = "section-grid">
        <div id="block1"  style= "width: 100%; height:auto;">  
          <div id= treemap> <!-- MEHRIN HERE IS THE BLOCK FOR YOUR VIS-->
          </div>
          
        </div>
        <div id="block2"  style= "width: 100%; height:auto;">
          <h3>Overview over cusines and their ingredient categories</h3>
        </div> 
        <div  id="block3"  style= "width: 100%; height:auto;">
          <p class= "large">
            Discripe 
          </p>
          <p>further discription</p>
        </div> 
      </div>
    </div>

    <div class="section-heading" id= "statisticPart">
      <h1>Statistic Part</h1>
    </div>

    <div class= "section2">
      <div class = "section-grid-statistic">

         <!--Clarissa's Bar-Chart visualization--> 
        <div class="vis" id="vis1">
           <!-- Selectoption for bar chart-->
          <select value = "world" id="data_bar" name="countrylist"  onChange="drawBar();"  >
            <option value="american">American</option>
            <option value="angolan">Angolan</option>
            <option value="argentine">Argentine</option>
            <option value="australian">Australian</option>
            <option value="austrian">Austrian</option>
            <option value="belgian">Belgian</option>
            <option value="brazilian">Brazilian</option>
            <option value="canadian">Canadian</option>
            <option value="chilean">Chilean</option>
            <option value="chinese">Chinese</option>
            <option value="congolese">Congolese</option>
            <option value="costa-rican">Costa-Rican</option>
            <option value="cuban">Cuban</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="dutch">Dutch</option>
            <option value="ecuadorean">Ecuadorean</option>
            <option value="egyptian">Egyptian</option>
            <option value="english">English</option>
            <option value="ethiopian">Ethiopian</option>
            <option value="filipino">Filipino</option>
            <option value="finnish">Finnish</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="guatemalan">Guatemalan</option>
            <option value="hungarian">Hungarian</option>
            <option value="icelandic">Icelandic</option>
            <option value="indian">Indian</option>
            <option value="indonesian">Indonesian</option>
            <option value="iranian-persian">Iranian-Persian</option>
            <option value="iraqi">Iraqi</option>
            <option value="irish">Irish</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="laotian">Laotian</option>
            <option value="lebanese">Lebanese</option>
            <option value="libyan">Libyan</option>
            <option value="malaysian">Malaysian</option>
            <option value="mexican">Mexican</option>
            <option value="mongolian">Mongolian</option>
            <option value="moroccan">Moroccan</option>
            <option value="namibian">Namibian</option>
            <option value="nepalese">Nepalese</option>
            <option value="new-zealand">New-Zealand</option>
            <option value="nigerian">Nigerian</option>
            <option value="norwegian">Norwegian</option>
            <option value="pakistani">Pakistani</option>
            <option value="peruvian">Peruvian</option>
            <option value="polish">Polish</option>
            <option value="portuguese">Portuguese</option>
            <option value="puerto-rican">Puerto-Rican</option>
            <option value="russian">Russian</option>
            <option value="somalian">Somalian</option>
            <option value="south-african">South-African</option>
            <option value="spanish">Spanish</option>
            <option value="sudanese">Sudanese</option>
            <option value="swedish">Swedish</option>
            <option value="swiss">Swiss</option>
            <option value="thai">Thai</option>
            <option value="turkish">Turkish</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="world" selected >World data</option>
          </select> 
          <div id="top6">
            <script src="{{ url_for('static', filename='bar_chart.js')}}"></script>
          </div>       
          <p class="large">Top 6 used ingredients for selected country</p>
          <p>Choose a country from the dropdown menu. A starting point for exploration: What are the main differences between European, South-American and South-East-Asian cuisines? </p>
        </div>

       <!--Clarissa's Pie chart visualitzation-->
        <div class="vis" id="vis2">
        <!-- Selectoption for pie chart-->
           <select value = "world" id="data_pie" name="countrylist"  onChange="update();" >
            <option value="american"  >American</option>
            <option value="angolan">Angolan</option>
            <option value="argentine">Argentine</option>
            <option value="australian">Australian</option>
            <option value="austrian">Austrian</option>
            <option value="belgian">Belgian</option>
            <option value="brazilian">Brazilian</option>
            <option value="canadian">Canadian</option>
            <option value="chilean">Chilean</option>
            <option value="chinese">Chinese</option>
            <option value="congolese">Congolese</option>
            <option value="costa-rican">Costa-Rican</option>
            <option value="cuban">Cuban</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="dutch">Dutch</option>
            <option value="ecuadorean">Ecuadorean</option>
            <option value="egyptian">Egyptian</option>
            <option value="english">English</option>
            <option value="ethiopian">Ethiopian</option>
            <option value="filipino">Filipino</option>
            <option value="finnish">Finnish</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="guatemalan">Guatemalan</option>
            <option value="hungarian">Hungarian</option>
            <option value="icelandic">Icelandic</option>
            <option value="indian">Indian</option>
            <option value="indonesian">Indonesian</option>
            <option value="iranian-persian">Iranian-Persian</option>
            <option value="iraqi">Iraqi</option>
            <option value="irish">Irish</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="laotian">Laotian</option>
            <option value="lebanese">Lebanese</option>
            <option value="libyan">Libyan</option>
            <option value="malaysian">Malaysian</option>
            <option value="mexican">Mexican</option>
            <option value="mongolian">Mongolian</option>
            <option value="moroccan">Moroccan</option>
            <option value="namibian">Namibian</option>
            <option value="nepalese">Nepalese</option>
            <option value="new-zealand">New-Zealand</option>
            <option value="nigerian">Nigerian</option>
            <option value="norwegian">Norwegian</option>
            <option value="pakistani">Pakistani</option>
            <option value="peruvian">Peruvian</option>
            <option value="polish">Polish</option>
            <option value="portuguese">Portuguese</option>
            <option value="puerto-rican">Puerto-Rican</option>
            <option value="russian">Russian</option>
            <option value="somalian">Somalian</option>
            <option value="south-african">South-African</option>
            <option value="spanish">Spanish</option>
            <option value="sudanese">Sudanese</option>
            <option value="swedish">Swedish</option>
            <option value="swiss">Swiss</option>
            <option value="thai">Thai</option>
            <option value="turkish">Turkish</option>
            <option value="vietnamese">Vietnamese</option>
            <option value="world" selected >World data</option>
          </select> 
          <div id= "myPieChart">
            <script src="{{ url_for('static', filename='pie_chart.js')}}"></script>  
          </div> 
          
          <p class= "large">Types of Recipes: Percentage of vegan, vegetarian and non type recipes for selected country</p>   
          <p>Choose a country from the dropdown menu. Interesting insights: Nearly half of all Indian recipes are vegetarian or vegan. Some Scandinavian countries have a particularly high proportion of vegetarian recipes in comparison with other European cuisines. </p>
        </div> 

        <!--Marina's Bubblechart visualization-->
        <div class="vis" id="vis3">
          <div  id= "bubbleChart">
            <script src="{{ url_for('static', filename='bubblechart.js')}}"></script>  
            <!--<div id="tooltip2" class="hidden"></div>--> 
          </div>  
            
        <p class= large> Average Recipe by Region: Time to cook vs. Number of ingredients</p>   
        <p>To see more information, click on a regional bubble to expand into smaller bubbles. Hover over each bubble to see the cuisine. The number of countries per regional bubble is encoded in its size. The average recipe time for each country is considerably longer than the median time, this is because of the uneven distribution of cooking times, with outlier recipes taking up to several months. </p>
        </div> 

      <!--Miguel's visualization-->
        <div  class="vis" id="vis4">
          <div id="chord">
          <script src="{{ url_for('static', filename='chord.js')}}"></script> 
          </div>  
        <p class= large>
          Chord diagram which shows the amount of recipes in common between the food categories.
        </p>  
        <p>
          Each arc has the name of the corresponding category and also marks with 
          percentages of the total number of relations of each category.
          <br>
          You can hover over the arcs and the chords to see additional information about them.
        </div> 
      </div> 
    </div>

    <div class="section-heading" id= "background">
      <h1 >Background</h1>
    </div>

    <div class= "section3">
      <div class = "section-grid-background" id= "line">
        <div id="backgroun1">  
          <p class= "large">
            Recipe Analysis is based on the project work in the lecture Big Data Visual Analytics in Life Sciences by Prof. Dr. Michael Krone
            at the Faculty of Science of Eberhard Karls University of Tübingen.
          </p>
          <p class = "large" style= "margin-top: 2rem;">
            Together, we explored the data of the recipes from <a href = "https://www.food.com/"> Food.com</a>. This project sheds light on the many facets of different cuisines and ingredients of recipes across the globe. 
          </p>
        </div>
        <div id="background2">
          <h4>Data</h4>
          <!--Add some text here for Data modifying Marina, Miguel-->
          <p align = "justify">In the course of this project, we analyzed thousands of ingredients, recipes and other recipe related terms. We started with a dataset obtained from <a  href = "https://www.kaggle.com/shuyangli94/food-com-recipes-and-user-interactions?select=RAW_interactions.csv">kaggle.com </a>with a collection of the raw recipe data. We retrieved cuisine data by retaining all country recipe tags from all possible tags. Then, each group of country cuisines was tagged with a regional tag (e.g. European, Asian or South-American).  Only the recipes with an associated cuisine were kept. To simplify ingredients, we went through all 8000 listed ingredients in the ingredients mapping and summarized them further. 
            We also extracted the "vegan" and "vegetarian" tags from recipes to gauge the proportion of these recipes in each cuisine. For the "Average Recipe Bubble Chart", the data was further summarized, while removing recipes with unreasonably long cooking times (keeping e.g. fermented foods but discarding recipes where the time specification did not match the steps). 
          </p>
        </div> 
        <div  id="background3">
          <h4>Team</h4>
          <p class= "teammember">Dittschar, Marina</p>
          <p class= "teammember" >Ordonez, Miguel</p>
          <p class= "teammember">Azan, Mehrin</p>
          <p class= "teammember">Auckenthaler, Clarissa</p>
        </div> 
      </div>
  
    </div>
  </main>
  <footer>
    <p>
      <a href="http://www.freepik.com"> Background image designed by pikisuperstar / Freepik</a>
    </p>
  </footer>
 
  
</body>
</html>
