<!-- derived from the files provided in the tutorials -->

{% extends "base.html" %}
{% block content %}



<head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet"  href="static/styles.css">
</head>
<body style="height: 404px">
<div id="tooltip" class="hidden">
</div>
<svg width = "1500" height = "1000"></svg>

<script type="text/javascript" >
    dataset = {{ data | safe }};
</script>

<script src="{{ url_for('static', filename='visualization.js') }}"></script>

{% endblock %}