<html>
<!--
 * @author: SirMaik
 * 
-->
<head>
    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <link rel="stylesheet"  href="static\world_map.css">
</head>
<body>
    <script src="{{ url_for('static', filename='world_map.js')}}"></script>
  
    <div style="width: 100%;">
        <!-- div for the visualization -->
        <div style="width: 50%; height: 100px; float: left;"> 
            <svg id="worldMap" width="650" height="400"></svg>
        </div>

        <!-- div for the tooltip -->
        <div style="margin-left: 55%; height: 100px;"> 
            <div id="tooltip" class="textbox" value="">
                Country: <br>
                Tag: <br>
                Number of recipes: <br>
            </div>
        </div>
    </div>
</body>

</html>